.vksearch {
    width: 85%;
    height: 44px;
    font-size: 14px;
    border-radius: 50px 0 0 50px;
    border: none;
    padding:0 10px;
    background: #f0f0f0;
}
.vksubmit{
    width:10%;
    height: 44px;
    font-size: 14px;
    border-radius: 0 50px 50px 0;
    border: none;
    background: #f0f0f0;
}
.user-panel{
    text-align: center;
}
.user-panel a{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}
.user-panel .up-item:first-child{
    margin-right: 29px;
}
.user-panel .up-item{
    font-size: 14px;
    display:inline-block;
}